<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.arts_social" >
    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <!-- 第三方分享相关 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!-- QQ客户端分享结果回调 before sharesdk 3.1.0 -->
            <!--<intent-filter>-->
            <!--<data android:scheme="tencent100738077" />-->

            <!--<action android:name="android.intent.action.VIEW" />-->

            <!--<category android:name="android.intent.category.BROWSABLE" />-->
            <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- QQ客户端分享结果回调 after sharesdk 3.1.0(include)-->
        <activity
            android:name="cn.sharesdk.tencent.qq.ReceiveActivity"
            android:launchMode="singleTask"
            android:noHistory="true">

            <intent-filter>
                <data android:scheme="tencent100738077" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

    </application>
</manifest>
